name: Java CI with Gradle

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: gradle

    - name: Fix line endings and permissions for gradlew
      run: |
        sed -i 's/\r$//' gradlew
        chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: BridgeHelper-JAR
        path: build/libs/BridgeHelper-1.0.0.jar
